/* ヘッダー */
header {
    width: 100%;
    background-color: rgba(251, 248, 242, 0.2);
    padding-inline: 60px;
    position: fixed;
    z-index: 30;
    backdrop-filter: blur(2px);

    h1 {
        display: block;
        line-height: 1px;
    }

    .site-title {
        img {
            height: 80px;
            filter: drop-shadow(1px 1px 2px #333);
        }
    }

    a {
        display: block;
        padding: 15px 10px;
    }
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navi-img {
    display: none;
}

.header-menu {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-left: auto;
    overflow-x: auto;

    li {
        margin-left: 10px;
        transition: transform 0.4s ease;

        &:hover {
            transform: translateY(-6px);
        }
    }
    
    .contact-btn {
        background-color: #000;
        padding: 0;
        border-radius: 5px;
        margin-left: 20px;

        a {
            color: #FFFFFF;
            display: block;
            padding: 8px 15px;
        }
    }
}

.menu-sns {
    display: none;
}