body {
    font-family: "BIZ UDPGothic", sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

li {
    list-style: none;
}